<footer class="text-center text-white mt-auto" style="background-color: #2B3A55;">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:aryanwork10@gmail.com" role="button" target="_blank"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/aryan16shah" role="button" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/aryan-shah-10b52b252" role="button" target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AryanShah874" role="button" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>

    <div class="text-center p-2" style="background-color: #2B3A55;">
      © 2023 Copyright Aryan Shah
    </div>
  </footer>
</body>
</html>