<%-include("partials/header");-%>
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-lg-8">
                <h1 class="title-heading">Get Your Work Done easily with this simple todo List App.</h1>
                <ul>
                    <li class="steps">To start using the app, you first need to register.</li>
                    <li class="steps">After Registering, you can directly access your list.</li>
                    <li class="steps">No need to worry if you close the app, you don't need to register again and again, unless you logout manually.</li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-fluid mt-6" src="images/ToDoList-logos_transparent.png" alt="logo">
                <a href="/logout" class="btn btn-danger btn-lg m-2" role="button">Log Out</a>
            </div>
        </div>
    </div>
<%-include("partials/footer");-%>
